**/__pycache__/
*.pyc

asset/vpusher/*
asset/vpusher_*

asset/cube/*

asset/poly_scoop/*
asset/polygons/polygon_obj_generator*
asset/polygons/*.mtl
asset/2024*
asset/8*
asset/i*
asset/m*
asset/polygons/*blend*
asset/polygons/*stl
asset/polygons/*gx

results/*

log.txt
asset/franka_panda_custom/panda_modified_*
asset/franka_panda_custom/vpusher_modified_*
asset/lc_soft_enable_wide_grip/lc_soft_enable_wide_grip_*

wandb/

.idea/

envs/panda/polygon/polygon.egg-info
envs/panda/polygon/build
asset/default
asset/franka_panda_custom/3dprint
test.*

captured_chessboard_images